<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISRO CustomerSatellites</title>
    <link rel="stylesheet" href="styles/main.css">
    <style>
        html{
            color: white;
            background-color: black;
        }
    </style>
</head>
<body>
    <p style="font-weight: bolder;">Customer satellites are satellites launched by ISRO in cooperation with other countries under a commercial arrangement</p>
    <p><%=content %></p>
</body>
<%- include('partials/footer.ejs') %>
</html>